// customizing semantic-ui components
.ui.form {
  .ui.checkbox .box,
  .ui.checkbox label,
  .ui.radio.checkbox .box,
  .ui.radio.checkbox label {
    padding-left: 1.4rem;
  }

  .field {
    & > .ui.checkbox {
      margin-right: 1rem;
    }

    & > .label {
      flex-basis: 100%;
      font-size: 0.9rem;
      font-weight: 600;
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  @include media("<desktop") {
    .ui.checkbox .box,
    .ui.checkbox label {
      padding-left: 1.7rem;
    }
    .field.align-space-between-mobile > label {
      flex-basis: 100%;
    }
  }
}
